<section>
    <div class="about">
        <span></span>
        <h3>Ajudar animais resgatados</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, sit aperiam, doloremque repellendus distinctio voluptates aliquid facilis numquam odio eligendi pariatur magnam recusandae laborum, in expedita. Expedita repudiandae quo ratione.</p>
        <img src="../../../../assets/cat2 1.png" alt="">
    </div>
    <div class="extra-content">
        <div class="argument">
            <img src="../../../../assets/sup-esq.png" alt="">
            <h3>Acesso aos pets</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptate consequuntur fugit consequatur? Tenetur qui libero culpa iste illo mollitia doloribus et. Dolorem laudantium saepe optio consectetur consequuntur consequatur corporis!</p>
        </div>
        <div class="argument">
            <img src="../../../../assets/sup-dir.png" alt="">
            <h3>Cuidado com os pets</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, reiciendis suscipit molestiae, quidem laudantium mollitia vero itaque facilis nostrum tenetur enim quos ea necessitatibus doloribus qui, earum aut. Quis, ab?</p>
        </div>
        <div class="argument">
            <img src="../../../../assets/inf-esq.png" alt="">
            <h3>Adoção</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus est perspiciatis, in, eos natus minus quis dolore officiis quam odio quibusdam! Labore molestias fuga laborum eligendi quam, tempora explicabo numquam.</p>
        </div>
        <div class="argument">
            <img src="../../../../assets/inf-dir.png" alt="">
            <h3>Ongs</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nesciunt dicta natus optio totam modi? Sit, doloribus laborum tempora ut, asperiores, odit voluptates at earum non ea praesentium alias inventore.</p>
        </div>
    </div>
    
</section>