<section class="motivos-adotar">
    <h2>Por que adotar?</h2>
    <div class="motivos">
        <div class="motivo">
            <h4>Nesse exato momento</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, qui consectetur illum consequatur sed blanditiis. Provident recusandae sed autem reprehenderit repellat illo itaque at. Dignissimos accusantium aut ratione odio optio.</p>
        </div>
        <div class="motivo">
            <h4>E não há recompensa maior</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto, unde eius! Dolor animi hic nihil alias a! Beatae error aliquam dolor? Ipsum omnis dolor laudantium commodi animi veritatis, sapiente aut.</p>
        </div>
        <div class="motivo">
            <h4>ADOTE</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum consequuntur autem quibusdam vel aperiam? Quaerat, obcaecati, suscipit architecto odio porro voluptatem qui impedit nam possimus tempore laboriosam illum reiciendis earum.</p>
        </div>
    </div>
</section>
