section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    margin: 0 9%;
    h2{
        color: #0D0539;
        font-weight: 700;
        font-size: 1.4em;
    }
    .motivos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        
        .motivo{
            border: 1px solid #C3AA6A;
            border-radius: 10px;
            max-width: 25%;
            padding: 2%;
            h4{
                font-weight: 500;
                font-size: 1.2em;
                color: #0D0539;
                margin-bottom: 2%;
            }
            p{
                font-weight: 300;
                font-size: .9em;
            }
        }
    }
}