<div class="container">
    <img class="" src="../../../assets/Rectangle 11.png" alt="A cat">
    <div class="form">
        <div class="logo" router-link="home">
            <img src="../../../../assets/PetLogo 1.png" alt="Company Logo" class="logo">
            <span>Seu melhor amigo</span>
        </div>
        <span class="title">Faça seu cadastro</span>

        <form>
            <label for="nome">Nome Completo</label>
            <input required [(ngModel)]="usuario.nome" type="text" id="nome" name="nome">

            <label for="email">Email</label>
            <input required type="email" [(ngModel)]="usuario.email" name="email" id="email">

            <label for="senha">Senha</label>
            <input required id="senha" [(ngModel)]="usuario.senha" name="senha" type="password" >

            <label for="cep">Cep</label>
            <input required (blur)="buscaCep()" [(ngModel)]="usuario.localizacao.cep" name="cep" id="cep" type="text" >

            <label for="rua">Rua</label>
            <input required [(ngModel)]="usuario.localizacao.logradouro" name="rua" id="rua" type="text" >

            <label for="numero">Número</label>
            <input required id="numero" [(ngModel)]="usuario.localizacao.numero" name="bairro"  type="number" >

            <label for="bairro">Bairro</label>
            <input required id="bairro" [(ngModel)]="usuario.localizacao.bairro" name="bairro" type="text">

            <label for="cidade">Cidade</label>
            <input required id="cidade" [(ngModel)]="usuario.localizacao.localidade" name="cidade" type="text">
            
            <label for="estado">Estado</label>
            <input required id="estado" [(ngModel)]="usuario.localizacao.uf" name="estado" type="text">

        </form>
        <button type="submit" (click)="criaNovoUsuario()">Cadastre-se</button>
    </div>
</div>