footer{
    margin-top: 2%;
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    .contact{
        display: flex;
        flex-direction:column;
        align-items:center;
        font-weight: 700;
        font-size:.9em;
        margin: 1% 0;
        .logo{
            display:flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            span{
                    font-weight: 500;
                    font-size: 1.25em;
            }
        }
    }
        .social{
            width: 10%;
            display: flex;
            align-items: center;
            justify-content:space-around;
        }
        .rights{
            font-size: 0.9em;
            font-weight: 700;
        }
    }
