 <footer>
        <div class="contact">
            <div class="logo" router-link="home">
                <img src="../../../../assets/PetLogo 1.png" alt="Company Logo" class="logo">
                <span>Seu melhor amigo</span>
            </div>
            <span class="contact-way">(31)1111-1111</span>
            <span class="contact-way">contato@contato.com</span>
        </div>
    <div class="social">
        <a href=""><img src="../../../../assets/TwitterIcon.png" alt=""></a>
        <a href=""><img src="../../../../assets/InstaIcon.png" alt=""></a>
        <a href=""><img src="../../../../assets/FaceIcon.png" alt=""></a>
    </div>
    <div class="rights">
        2022, Seu melhor amigo. Todos os direitos reservados.
    </div>
 </footer>
